/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #277a27;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-default {
    background-color: #1a8a52;
    border-right: 1px solid #ddd;
    height: 100vh;
    width: 200px;
    position: fixed;
    overflow-y: auto;
}

#page-wrapper {
    margin-left: 200px;
    padding: 20px;
}

.panel {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panel-heading {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.panel-body {
    padding: 15px;
}

canvas {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

